.listview {
  width: 100%;
  height: 200px;
  background-color: #666;
}

.listview-msg {
  color: #333;
}

.listview-img {
  display: block;
  margin-top: 10px;
}

.listview-img > img {
  width: 200px;
}
